@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

:root {
  --background: #f8fafc;
  --foreground: #171717;

  --card: #ffffff;
  --card-hover: #f1f5f9;
  --border: #e2e8f0;

  --muted: #64748b;
  --button: #f1f5f9;
  --button-hover: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --card: #161616;
    --card-hover: #1d1d1d;
    --border: #353535;

    --muted: rgba(255, 255, 255, 0.5);
    --button: #272727;
    --button-hover: #2c2c2c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
